<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CustMapper">

    <resultMap id="BasecustResultMap"
        type="com.example.model.CustomerModel">
        <result column="id" property="id" />
        <result column="cust_code" property="cust_code" />
        <result column="cust_name" property="cust_name" />
        <result column="status" property="status" />
        <result column="email" property="email" />
        <result column="user_code" property="user_code" />
        <result column="TIME" property="TIME" />
        <result column="type" property="type" />
        <result column="content" property="content" />
       
    </resultMap>
    
<!--     定义的sql片段 -->
    <sql id="Base_Column_List">
        id, cust_name, cust_code, status,email
    </sql>
<!--     查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="cust_code != null and cust_code != ''">
            and cust_code like #{cust_code}
        </if>
        <if test="cust_name != null and cust_name != ''">
            and cust_name like #{cust_name}
        </if>
       
        <if test="email != null and email != ''">
            and email = #{email}
        </if>
    </sql>
<!-- 查询商品数量 -->
    <insert id="insert" parameterType="Object">
        <selectKey resultType="java.lang.Integer" order="AFTER"
            keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into customer.customer_info(cust_code, cust_name,
        status,email)
        values(#{cust_code}, #{cust_name}, #{status},#{email})
    </insert>
    
    <select id="select" resultMap="BasecustResultMap"
        parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from customer.customer_info where cust_code = #{cust_code}
    </select>
    
    
<select id="selectCount" resultType="java.lang.Integer"
        parameterType="Object">
        select count(1) from customer.customer_info
        <include refid="Example_Where_Clause" />
    </select>
    
    <select id="selectAll" resultMap="BasecustResultMap"
        parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from customer.customer_info
        <include refid="Example_Where_Clause" />
    </select>
    <!-- 查询商品详情 -->
    <select id="selectModel" resultMap="BasecustResultMap"
        parameterType="Object">
        select
        <include refid="Base_Column_List" />
        from customer.customer_info
        <include refid="Example_Where_Clause" />
<!--         limit ${rowStart},${pageLimit} -->
        <!-- <if test="pager.orderCondition != null and pager.orderCondition != 
            ''"> -->
        <!-- ${pager.orderCondition} -->
        <!-- </if> -->
        <!-- <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition 
            != ''"> -->
        <!-- ${pager.mysqlQueryCondition} -->
        <!-- </if> -->
    </select>
    </mapper>